/* Estilo Global */
body,
html {
    background-color: #121212; /* fundo escuro */
    color: white; /* texto claro */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sobrescrevendo cores padrão do Bootstrap para o tema escuro */
.bg-light {
    background-color: #121212 !important;
}

.text-dark {
    color: white !important;
}

.navbar-light {
    background-color: #121212 !important;
    color: white !important;
}

.btn-primary {
    background-color: #007bff !important;
    border-color: #007bff !important;
}

/* Para garantir que o app tenha o fundo escuro */
#app {
    min-height: 100vh;
    background-color: #121212 !important;
}
